.main {
    margin: 10% auto auto;
    width: 50%;
    text-align: center;
    display: flex;
}

.labelPanel {
    background-color: #233647;
    width: 35%;
    height: auto;
}

.inputDisplayPanel {
    background-color: #b9bab5;
    width: 65%;
    height: auto;
}

#numberInput {
    text-align: right;
    align-self: center;
    width: 50%;
    margin-top: 8.5%;
    display: inline;
    padding-right: 0;
}

#numberInputLabel {
    margin-top: 15%;
    color: #ececea;
    font-size: x-large;
}

#writeOutButton {
    width: 25%;
    padding-left: 0;
}

#result {
    width: 75%;
    height: 15em;
    margin-top: 1%;
    margin-bottom: 3%;
}